.timer-container {
    background: #eace91;
    color: #f4f4f4;
    padding: 10px;
    width: 380px;
}

.timer {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    width: 360px;
    height: 100%;
}

.timer div:first-child {
    text-align: center;
}

.timer-icon {
    font-size: 1.2rem;
    color: #f39c12;
}

h2 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.timer div:first-child p {
    color: #f8f8f8;
}

.timer div:last-child {
    border: 1px solid #fff;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 20px;
    padding: 0.4rem;
    text-align: center;
}

div p:first-child, .timer div:last-child span {
    font-size: 1.2rem;
}

.timer div:last-child span {
    margin-top: 0;
}

.btn {
    width: 380px;
    border: none;
    outline: none;
    background: #95a5a6;
    color: #f4f4f4;
    padding: 16px 2%;
    cursor: not-allowed;
    font-size: 1.2rem;
}

.btn:enabled {
    background: #3498db;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(92, 60, 60, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 5px;
    color: #f4f4f4;
    width: 300px;
}

.popup h3 {
    font-size: 1.3rem;
}

.popup-content h5{
    margin: 10px;
    font-size: 1rem;
}

.popup-content {
    text-align: center;
    font-weight: 600;
}

.popup button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #5088f8;
    color: white;
    border: none;
    cursor: pointer;
}

.popup button:hover {
    background-color: #3a6bc1;
}

.image {
    margin-bottom: 10px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
    margin-top: 20px;
    padding: 0 3%;
}

.images img {
    height: 300px;
    width: 180px;
}

@media (min-width: 375px) {

    .timer-container {
        width: 470px;
    }

    .timer {
        width: 100%;
    }
    .timer div:last-child {
        margin-top: 20px;
    }

    div p:first-child, .timer div:last-child span{
        font-size: 1.5rem;
    }

    .btn {
        width: 470px;
    }

    .images {
        padding: 0 2%;
    }

    .images img {
        width: 228px;
    }
}


@media (min-width: 425px) {

    .timer {
        width: 100%;
    }

    .timer-icon {
        font-size: 2rem !important;
    }

    .timer div:last-child {
        margin-left: 0px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .timer div:first-child p {
        font-size: 1rem;
    }

    div p:first-child, .timer div:last-child span {
        font-size: 1.2rem;
    }

    .popup {
        top: 65%;
        padding: 20px;
    }

    .popup-content {
        font-size: 0.9rem;
    }

    .images img {
        height: 300px;
        width: 225px;
    }
}

@media (min-width: 768px) {

    .timer-container {
        width: 770px;
    }

    .timer {
        width: 100%;
    }

    .timer-icon {
        font-size: 3rem !important;
    }

    .timer div:last-child {
        margin-top: 30px;
        margin-left: 40px;
    }

    h2 {
        font-size: 1.7rem;
    }

    .timer div:first-child p {
        font-size: 1.3rem;
    }

    div p:first-child, .timer div:last-child span {
        font-size: 1.7rem;
    }

    .btn {
        width: 770px;
    }

    .popup {
        top: 65%;
        padding: 20px;
    }

    .popup-content {
        font-size: 0.9rem;
    }

    .images img {
        height: 500px;
        width: 370px;
    }
}